body {
  background-image: url("../imgs/mud.png");
  background-color: #e8dcd3;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  min-width: 90vw;
}

body::before {
  position: absolute;
  z-index: -1;
}

.loggedIn {
  visibility: hidden;
}
