body {
  background-image: url("../imgs/mud.png");

  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90vh;
  min-width: 90vw;
}

body::before {
  position: absolute;
  z-index: -1;
}
