  <!-- <figure class="image">
    <img src="public/imgs/mud.png" />
  </figure> -->


  <!-- <div class="box">
    <p> Do you know there is an api in this server? And it is documented?</p>
    <p> Yes, it is good sir. Follow the link: <a href="https://nonpmnodeapi.docs.apiary.io/">DOCS</a></p>
  </div> -->

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <p> Breaking changes</p>
        <p> Sorry, the docs for the API are incomplete: <a href="https://nonpmnodeapi.docs.apiary.io/">DOCS</a></p>
      </p>
    </div>
  </footer>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" integrity="sha512-byErQdWdTqREz6DLAA9pCnLbdoGGhXfU6gm1c8bkf7F51JVmUBlayGe2A31VpXWQP+eiJ3ilTAZHCR3vmMyybA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="public/styles/app.css">
  </body>
</html>