<h1 class="title"> nonpm </h1>

<div class="columns is-centered">
<div class="is-5 column card"> 
    <div class="content">
        <h2 class="title"> Order and Checkout! </h2>
        <p>Anything we might have.</p>

        Nisi in ex occaecat duis culpa ex voluptate 
        occaecat ad officia labore laborum. 
        Voluptate est in amet mollit tempor amet 
        nostrud ad consectetur velit. 
        Aliquip nulla est eiusmod minim in incididunt. 
        Dolor officia irure consequat do. 
        Dolore exercitation et laborum deserunt non aliquip ullamco labore velit exercitation cupidatat nostrud eu adipisicing. 
        Ullamco consequat dolor nulla dolore ea tempor eiusmod amet magna in pariatur sunt sint.
    </div>
</div>
</div>