<div class="section is-medium columns is-centered">

<div class="column is-5 card">
  <h1 class="title"> Sign-up </h1>
  <h2 class="subtitle"> Please </h2>

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>

  <label class="checkbox">
    <input type="checkbox">
      I agree
  </label>
<div>
  <button class="button">Sign-up</button>
</div>
</div>

<div class="column card is-5">
  <h1 class="title"> Sign-in </h1>
  <h2 class="subtitle"> Please </h2>
  
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="Text input">
    </div>
  </div>

</div>


</div>