<div class="section is-medium columns is-centered">

<div class="column is-5 has-background-light">
  <h1 class="title"> Sign-up </h1>
  <h2 class="subtitle"> Please </h2>

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" >
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" >
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" >
    </div>
  </div>

  <label class="checkbox">
    <input type="checkbox">
      I agree to everything. Therefore I abdicate all my titles and belongings.
  </label>

  <div class="pt-5">
    <button class="button is-primary">Sign-up</button>
  </div>
</div>

<div class="column is-5 has-background-light">
  <h1 class="title"> Sign-in </h1>
  <h2 class="subtitle"> Please </h2>
  
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input id="emailLogin" class="input" type="text" >
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input id="passwordLogin" class="input" type="password" >
    </div>
  </div>

  <div class="pt-3">
    <button class="button is-primary" onClick="app.signin()">Sign-in</button>
  </div>

</div>

</div>